<!DOCTYPE html>
<html lang="zh-cn">
<head>
{% include 'head.html' %}
</head>
<body>
<div class="jumbotron text-center" style="margin-top:0">
  <h2><span class="oi oi-book"></span>&nbsp;&nbsp;欢迎使用AHU校园二手交易平台</h2>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<div class="card bg-light text-dark">
				<div class="card-body">
                    <h4><strong>{{ title }}</strong></h4>
            <form class="form bs-example bs-example-form" action="", method="post">
                {% csrf_token %}
                    <div class="form-group">
						<p><span class="oi oi-person"></span><strong>&nbsp;&nbsp;用户名</strong></p>
						<input class="form-control input-lg" name="username" type="text" placeholder="请输入用户名">
					</div>
                    <div class="form-group">
						<p><span class="oi oi-person"></span><strong>&nbsp;&nbsp;验证码</strong></p>
						<input class="form-control input-lg" name="VerificationCode" type="text" placeholder="请输入验证码">
					</div>
                {% if state == 'inputV' %}
                    <div class="form-group">
						<p><span class="oi oi-lock-locked"></span><strong>&nbsp;&nbsp;新密码</strong></p>
						<input class="form-control input-lg" name="new_password" type="password" placeholder="请输入新密码">
					</div>
                {% endif %}
                <button type="submit" class="btn btn-primary btn-block">{{ button }}</button>
            <label>{{ tips }}</label>
            </form>
			</div>
		</div>
	</div>
<br/><br/>
</div>
</div>
{%  include "bottom.html" %}
</body>
</html>