<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.html" %}
</head>
<body>
<div class="jumbotron text-center touming" style="margin-top:0;">
  <h2><span class="oi oi-book"></span>&nbsp;&nbsp;欢迎使用安徽大学教务系统</h2>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="m-auto" style="height: auto;width: 400px">
			<div class="card text-dark touming">
				<div class="card-body">
                    <img src="/static/images/ahu_login.png" style="height: auto;width: 360px">
                    <br/><br/>
				<form class="form bs-example bs-example-form" action="", method="post">
                    {% csrf_token %}
					<div class="form-group">
						<p ><span class="oi oi-person"></span><strong>&nbsp;&nbsp;用户名:</strong></p>
						<input class="form-control input-lg" name="username" type="text" placeholder="请输入用户名">
					</div>
					<div class="form-group">
						<p><span class="oi oi-lock-locked"></span><strong>&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;码:</strong></p>
						<input class="form-control input-lg" name="password" type="password" placeholder="请输入密码">
					</div>
					<label><a href="/user/findPassword/"><strong>忘记密码？</strong></a></label>
                    <label>{{ tips }}</label>
                    <button type="submit" class="btn btn-block btn-primary">登&nbsp;&nbsp;录</button>
				</form>
				</div>
			</div>
		</div>
	</div>
<br/><br/>
</div>
{%  include "bottom.html" %}
</body>
</html>