<!DOCTYPE html>
<html>

<head>
  <title>主页 | 教务管理系统</title>
  <!-- 引入 Bootstrap -->
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/css/background.css">
  <script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-10">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">教务管理系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a href="#">选课</a></li>
                <li><a href="#">课表</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">查询信息 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">成绩</a></li>
                    <li><a href="#">已选课程</a></li>
                    <li><a href="#">培养方案</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">辅修1</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">辅修2</a></li>
                  </ul>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> 个人信息</a></li>
                <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div>
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
              <h3 class="text-center">安徽大学</h1>
            </div>
            <div class="panel-body">
                <p class=>
                  安徽大学(Anhui University)是国家“双一流”建设高校，安徽省人民政府与教育部共建高校，
                  安徽省属重点综合性大学。
                </p>
                <p>
                  作为安徽现代高等教育的开端，学校创建于1928年当时省会安庆市。
                  抗战期间，学校被迫西迁，并一度流散，1946年复校，为国立安徽大学。
                  1949年12月迁至芜湖，几经调整，学校于1956年迁建合肥市，1958年全面恢复招生。
                  1958年9月16日，毛泽东同志亲笔为学校题写校名。
                  伴随着我国改革开放和现代化建设的伟大进程,学校进入历史上发展最快最好的时期,
                  尤其是进入国家“211工程”高校建设行列之后，更是实现了跨越发展。
                </p>
            </div>
            <!-- Table -->
            <table class="table">
              <th>新闻</th>
              <th>时间 </th>
              <tr>
                <td>新闻 A</td>
                <td>2019年05月23日</td>
              </tr>
              <tr>
                <td>新闻 B</td>
                <td>2019年05月23日</td>
              </tr>
            </table>
          </div>
        </div>

        <div>
          <div class="row" style="width:100%;position:fixed;left:0; bottom:25px;z-index:-1;">
            <address class="text-center">
              <strong>教务管理系统 | </strong>软件工程实验第11组;&nbsp;
              <strong>电话:</strong>(123) 456-7890;&nbsp;
              <strong>邮箱:</strong><a href="mailto:#">demo@163.com</a>;&nbsp;
              <strong>地址:</strong>安徽省,合肥市,安徽大学磬苑校区
            </address>
          </div>
        </div>
      </div>
      <div class="col-md-1">&nbsp;</div>
    </div>





</body>

</html>